$grey: #4B4F4E;
$blue: #188df2;
$green: #00ccbe;
$lightgrey:#F0F0F0;
body{
    font-family: 'Roboto', sans-serif;
    color: $grey;
}
a{
    text-decoration: none;
    color: $grey;
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

}
.white-f{
    color:white;
    &--mobile{
        color:$blue;
        @media screen and(min-width:900px){
        color:white;
    }
}
}
.white-b{
    border: 1px solid white;
    width: 100%;
    display: block;
    text-align: center;
    @media screen and(min-width:900px){
        border: none;
    }
}
.blue-f{
    color: $blue;

}
.blue-b{
    border: 1px solid $blue;
    width: 100%;
    display: block;
    text-align: center;
    @media screen and(min-width:900px){
        border: none;
    }
}

///NAV///
.links{
    font-weight: 300;
    font-size: 0.88rem;
    letter-spacing: 1pt;
    position: relative;
    &::after{
        transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

        content: '';
        width: 100%;
        height: 1px;
        background-color: white;
        position: absolute;
        left: 0;
        bottom: -5px;
        transform: translateY(-50%);
        opacity: 0;

    }
    &:hover{

        &::after{
            content: '';
            width: 100%;
            height: 1px;
            background-color: white;
            position: absolute;
            left: 0;
            bottom: -5px;
            transform: translateY(-50%);
            opacity: 1;
        }
    }

    &--simple{
        font-size: 0.7rem;
        letter-spacing: 1pt;
        font-weight: 300;
        padding: 10px;

        &::after{
            content: '\f105';
            font-family: 'fontawesome';
            font-weight: 500;
            padding-left: 10px;
            transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
            padding-right: 10px;
        }

        @media screen and(min-width:900px){
            font-size: 0.88rem;
            border:none;
            padding: 0;
            &::after{

                padding-left: 30px;
                transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
                padding-right: 10px;
            }
            &:hover{
                &::after{
                    padding-left: 10px;
                }
            }
        }
    }


}
.btn{
    letter-spacing: 1pt;
    font-weight: 300;
}
///Header///
.hero__title{
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: 1pt;
    padding-top: 2%;
    padding-bottom: 2%;
    @media screen and(min-width:900px){
        font-size: 2.2rem;

    }
}
///MAIN///
.main__title{
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5pt;
    .bold{
        font-weight: 400;
    }
    &__text{
        display: block;
        padding-top: 10px;
    }
    @media screen and(min-width:640px){
        text-align: center;
        font-size: 1.2rem;
    }
    @media screen and(min-width:900px){
        text-align: center;
        font-size: 1.3rem;
        line-height: 2rem;
        .bold{
            font-weight: 700;
        }
        &__text{
            padding-top: 0;
        }
    }
    @media screen and(min-width:1350px){
        font-size: 1.5rem;

    }
}
.section__title{
    font-weight: 100;
    font-size: 1.2rem;
    padding-bottom: 15px;
    letter-spacing: 0.5pt;

    @media screen and(min-width:900px){
        font-size: 1.6rem;
        padding-bottom: 20px;
        &--pad{
            margin: -6px;
        }
        &--none{
            padding: 0;
        }
    }
}
.events__text__title{
    font-weight: 700;
    font-size: 0.9rem;
    color: $green;
    &--large{
        color: $grey;
        font-size: 1rem;

    }
    @media screen and(min-width:640px){
        font-size: 1rem;
        &--large{
            font-size: 1.3rem;
        }
    }
    @media screen and(min-width:900px){
        font-size: 1.1rem;
        color: $green;
        &--large{
            color: $grey;
            font-size: 1.2rem;

        }
    }
}
.events__text__body{
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1rem;
    &--large{
        font-size: 0.88rem;
        line-height: 1rem;
    }
    @media screen and(min-width:640px){
        &--large{
            line-height: 1.5rem;
        }
    }
    @media screen and(min-width:900px){
        font-size: 0.88rem;
        line-height: 1.38rem;
        height: 50%;
        &--large{
            font-size: 1rem;
            line-height: 1.5rem;
            height: inherit;
        }
    }

}
.events__text__date{
    font-weight: 400;
    font-size: 0.75rem;
    display: block;
    @media screen and(min-width:900px){
        height: 50px;
    }
}

.mentor-text{
    &__title{
        font-weight: 700;
        font-size: 1rem;
    }
    &__prof{
        font-weight: 300;
        font-size: 0.88rem;
    }
    &__skills{
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.2rem;
    }
    @media screen and(min-width:900px){
        &__title{
            font-weight: 700;
            font-size: 1.25rem;
        }
        &__prof{
            font-weight: 300;
            font-size: 1rem;
        }
        &__skills{
            font-weight: 400;
            font-size: 0.88rem;
            line-height: 1.56rem;
        }
    }
}

///FOOTER///
.footer__copyright{
    letter-spacing: 1pt;
    font-weight: 300;
    font-size: 0.7rem;
    @media screen and(min-width:900px){
        font-size: 0.88rem;
    }
}
.footer__container__links{
    letter-spacing: 1pt;
    font-size: 0.75rem;
    font-weight: 300;
}
